Repository SUMIO1/SUMIO, pull requests merged in 2024-06, with the labels that each got.

#17 [SIO-90] - Refaktoryzacja aplikacji
  pyproject.toml
  setup.cfg
  src/app/backend/ParticipantsManager.py
  src/app/backend/__init__.py
  src/app/config/__init__.py
  src/app/config/constraints.py
  src/app/csv_reader/__init__.py
  src/app/csv_reader/csv_reader.py
  src/app/gui/__init__.py
  src/app/gui/app.py
  src/app/gui/bracket.py
  src/app/gui/load_csv.py
  src/app/gui/menu_and_participants_list.py
  src/app/gui/pretty_button.py
  src/app/gui/quick_start.py
  src/app/gui/wrestler_profile.py
  src/app/kv_templates/app.kv
  src/app/kv_templates/load_csv.kv
  src/app/kv_templates/main_screen.kv
  src/app/kv_templates/participants_list.kv
  src/app/kv_templates/pretty_button.kv
  src/app/kv_templates/quick_start.kv
  src/app/kv_templates/wrestler_profile.kv
  src/example_package/gui/kivy/app.kv
  src/example_package/py.typed.py
  src/main.py
  tests/test_csv_reader.py
Labels: backend, technical

#20 [SIO-19] - Przeprowadzenie turnieju
  src/app/backend/participants_manager.py
  src/app/backend/tournament_manager.py
  src/app/csv_reader/csv_reader.py
  src/app/gui/background_label.py
  src/app/gui/bracket.py
  src/app/gui/menu_and_participants_list.py
  src/app/gui/tournament_view.py
  src/app/kv_templates/main_screen.kv
  src/app/kv_templates/tournament_view.kv
Labels: enhancement, backend, frontend, GUI

#21 [SIO-14] - Generowanie raportu
  src/app/backend/report_generator.py
  src/app/backend/tournament_manager.py
  src/app/gui/menu_and_participants_list.py
  src/app/gui/tournament_view.py
  src/app/kv_templates/main_screen.kv
  src/app/kv_templates/quick_start.kv
Labels: backend

#22 [SIO-25] - Edycja drabinki
  src/app/backend/bracket_editor.py
  src/app/backend/tournament_manager.py
  src/app/gui/background_label.py
  src/app/gui/bracket.py
Labels: enhancement, frontend

#18 [SIO-88] - Deployment aplikacji
  .gitignore
  deployment/README_deploy.md
  deployment/sumio.spec
  setup.cfg
Labels: technical
